<acme-page-layout>
  <acme-page-layout-header class="pb-16 bg-accent-default" fxLayout="column" fxLayoutAlign="center start">
    <div [class.container]="layoutCtrl.value === 'boxed'"
         [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
         class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">
          Listado de {{ getProfileTypeName(profileType, true) }}
        </h1>
      </div>
    </div>
  </acme-page-layout-header>

  <acme-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
                            [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
                            class="-mt-6">
    <acme-table [profileType]="profileType"></acme-table>
  </acme-page-layout-content>
</acme-page-layout>
