<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 *ngIf="form.get('firstName').value || form.get('lastNames').value" class="headline m-0" fxFlex="auto">
      {{ form.get('firstName').value }} {{ form.get('middleName').value }} {{form.get('lastNames').value }}
    </h2>
    <h2 *ngIf="!form.get('firstName').value && !form.get('lastNames').value"
        class="headline m-0"
        fxFlex="auto">Crear nuevo {{ getProfileTypeName(data.profileType)  }}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Primer nombre</mat-label>
        <input cdkFocusInitial formControlName="firstName" matInput required>

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Segundo Nombre</mat-label>
        <input cdkFocusInitial formControlName="middleName" matInput required>

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Apellidos</mat-label>
      <input formControlName="lastNames" matInput required>

      <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Tipo de Documento</mat-label>
        <input type="text"
               placeholder="Seleccionar el Tipo de documento"
               matInput
               required
               formControlName="documentType"
               [matAutocomplete]="documentTypeAutoComplete">

        <mat-autocomplete #documentTypeAutoComplete="matAutocomplete" [displayWith]="getDocumentTypeName">
          <mat-option *ngFor="let documentType of documentTypes" [value]="documentType">
            {{documentType.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-icon [icIcon]="icUserIdentification" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Número de documento de identidad</mat-label>
        <input formControlName="documentNumber" matInput>

        <mat-icon [icIcon]="icUserIdentification" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Dirección</mat-label>
        <input formControlName="address" matInput required>

        <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Ciudad</mat-label>
        <!-- TODO: Transformar en un select -->
        <input type="text"
               placeholder="Seleccionar la Ciudad"
               matInput
               required
               formControlName="city"
               [matAutocomplete]="cityAutoComplete">

        <mat-autocomplete #cityAutoComplete="matAutocomplete" [displayWith]="getCityName">
          <mat-option *ngFor="let city of cities" [value]="city">
            {{city.name}}
          </mat-option>
        </mat-autocomplete>

        <mat-icon [icIcon]="icLocationCity" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Número de teléfono</mat-label>
      <input formControlName="phone" matInput required>

      <mat-icon [icIcon]="icPhone" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">
      CREAR {{ getProfileTypeName(data.profileType) | uppercase }}
    </button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">
      ACTUALIZAR {{ getProfileTypeName(data.profileType) | uppercase }}
    </button>
  </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
