<acme-page-layout>
  <acme-page-layout-header class="pb-16 bg-accent-default" fxLayout="column" fxLayoutAlign="center start">
    <div [class.container]="layoutCtrl.value === 'boxed'"
         [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
         class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">All-In-One Table</h1>
        <acme-breadcrumbs [crumbs]="['Apps', 'All-In-One Table']"></acme-breadcrumbs>
      </div>

      <mat-button-toggle-group [formControl]="layoutCtrl" class="mt-4 sm:mt-0">
        <mat-button-toggle value="boxed">BOXED</mat-button-toggle>
        <mat-button-toggle value="fullwidth">FULL-WIDTH</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </acme-page-layout-header>

  <acme-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
                            [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
                            class="-mt-6">
  </acme-page-layout-content>
</acme-page-layout>
