<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="../../../../assets/img/logo.svg" alt="ACME Logo">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">ACME</h2>
      <h4 class="body-2 text-secondary m-0">Inicia sesión con tus credenciales.</h4>
    </div>

    <form [formGroup]="form" [action]="send()" class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Correo Electrónico</mat-label>
          <input formControlName="email" matInput required>
          <mat-error *ngIf="form.get('email').hasError('required')">
            Necesitas tu correo electrónico.
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Contraseña</mat-label>
          <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput required>
          <button (click)="hide = !hide" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Presiona el icon con forma de ojo para visualizar tu contraseña.</mat-hint>
          <mat-error *ngIf="form.get('password').hasError('required')">
            Necesitas tu contraseña.
          </mat-error>
        </mat-form-field>
      </div>

      <button color="primary" mat-raised-button type="submit">
        INICIAR SESIÓN
      </button>
    </form>
  </div>
</div>
